* {
	color: black;
	font-family: 'Courier New', Courier, monospace
}

p {
	font-size: 12px !important;
}

a {
	color: blueviolet !important;
	text-decoration: none !important;
}

h1 {
	font-size: 100px !important;
	color: black !important;
	text-align: center;
	margin: 0px 0px 0px 0px !important;
}

h3 {
	font-size: 35px !important;
	color: white !important;
	text-align: center;
	margin: 0px 0px 0px 0px !important;
}

h4 {
	font-size: 20px !important;
	color: black !important;
	text-align: center;
	margin: 0px 0px 20px 0px !important;
}

h2 {
	color: white !important;
	font-size: 50px !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

h5 {
	color: white !important;
	font-size: 10px !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

.sem-padding {
	padding: 0px 0px 0px 0px !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.letra-branca {
	color: white !important;
}

div {
	padding: 20px 10px 20px 10px;
}

label {
	color: white;
}

p {
	color: white;
}

.menu {
	background-color: black;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.botao {
	border: 1px solid white;
	border-radius: 3px;
	background-color: black;
	color: white;
	width: 70px;
	height: 30px;
}

.botao:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.botao:active {
	background-color: darkgray;
}

.botao:focus {
	text-decoration: none !important;
	outline: none !important;
}

a:hover {
    cursor: pointer;
}

a:focus {
	text-decoration: none !important;
	outline: none !important;
}

a:active {
	text-decoration: none !important;
	outline: none !important;	
}

.espacamento-maior {
	margin-bottom: 50px !important;
}

.alinhar-texto-esquerda {
	text-align: left !important;
}

.espacamento-topo {
	margin-top: 100px !important;
}

.botao-medio {
	width: 220px !important;
}

.botao-maior {
	width: 300px !important;
}

.width-completo {
	width: 75%;
}

label {
    font-weight: bold !important;
}

.inline {
	display: inline-block;
}