<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Perfil</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/admin.js"></script>
</head>
<body>
	<div class="menu">
		<div class="sem-padding float-left">
			<h2>GP</h2>
			<h5>Gabriel's Picker</h5>	
		</div>
		<div class="sem-padding float-right">
			<h4 class="letra-branca">Admin</h4>
		</div>
		<div class="espacamento-topo">
			<div>
				<button class="botao botao-medio" onclick="adicionarRegiao()" id="adicionarRegiao">Adicionar região</button>
			</div>
			<div>
				<button class="botao botao-medio" onclick="mostrarRegiao()" id="mostrarRegiao">Listar regiões</button>
			</div>
			<div>
				<button class="botao botao-medio" onclick="atualizarRegiao()" id="atualizarRegiao">Atualizar região</button>
			</div>
			<div>
				<button class="botao botao-medio" onclick="removerRegiao()" id="removerRegiao">Remover região</button>
			</div>
		</div>
	</div>
</body>
</html>