<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="cadastro.js"></script>
</head>
<body>
	<div>
		<h1>GP</h1>
		<h4>Gabriel's Picker</h4>
	</div>
	<div class="menu">
		<div>
			<label for="nome">Nome: </label>
			<input id="nome" type="text">
		</div>
		<div>
			<label for="cpf">CPF: </label>
			<input id="cpf" type="text">
		</div>
		<div>
			<label for="genero">Gênero: </label>
			<select>
				<option value="M">Masculino</option>
				<option value="F">Feminino</option>
				<option value="O">Outro</option>
				<option value="PNI">Prefiro não informar</option>
			</select>
		</div>
		<div>
			<label for="email">E-mail: </label>
			<input id="email" type="text">
		</div>
		<div>
			<label for="senha">Senha: </label>
			<input id="senha" type="text">
		</div>
		<div>
			<label for="confirma-senha">Confirme a senha: </label>
			<input id="confirma-senha" type="text">
		</div>
		<div>
			<label for="tipo-usuario">O que você deseja ser: </label>
			<div id="tipo-usuario" class="letra-branca">
				<input value="acompanhante" type="radio" name="tipo-usuario">Acompanhante
				<input value="cliente" type="radio" name="tipo-usuario">Cliente
			</div>
		</div>
		<div>
			<label for="fetiches">Fetiches desejados: </label>
			<div id="fetiches" class="letra-branca">
				<input value="pe" type="radio">Pé
				<input value="mao" type="radio">Mão
				<input value="bunda" type="radio">Bunda
				<input value="peitos" type="radio">Peitos
			</div>
		</div>
		<div>
			<label for="generos-desejados">Gêneros desejados: </label>
			<div id="generos-desejados" class="letra-branca">
				<input value="M" type="radio">Masculino
				<input value="F" type="radio">Feminino
				<input value="O" type="radio">Outro
				<input value="PNI" type="radio">Prefiro não informar
			</div>
		</div>
		<div>
			<button class="botao" onclick="voltar()">Voltar</button>
			<button class="botao" onclick="cadastrar()">Enviar</button>
		</div>
	</div>
</body>
</html>