<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="cadastro.js"></script>
</head>
<body>
	<div>
		<h1>GP</h1>
		<h4>Gabriel's Picker</h4>
	</div>
	<div class="menu">
		<div>
			<img src="logo.jpg" alt="some text" width=60 height=40>
			<p>{{Nome}}</p>
		</div>
		<div>
			<img src="logo.jpg" alt="some text" width=60 height=40>
			<p>{{Nome}}</p>
		</div>
		<div>
			<img src="logo.jpg" alt="some text" width=60 height=40>
			<p>{{Nome}}</p>
		</div>
		<div>
			<img src="logo.jpg" alt="some text" width=60 height=40>
			<p>{{Nome}}</p>
		</div>
		<div>
			<img src="logo.jpg" alt="some text" width=60 height=40>
			<p>{{Nome}}</p>
		</div>
		<div>
			<img src="logo.jpg" alt="some text" width=60 height=40>
			<p>{{Nome}}</p>
		</div>
	</div>
</body>
</html>