<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Editar Perfil</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="../js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../js/editar-perfil.js"></script></head>
<body>
<div class="menu">
	<div class="sem-padding float-left">
		<h2>GP</h2>
		<h5>Gabriel's Picker</h5>
	</div>
	<div class="sem-padding float-right">
		<a href="perfil.html"><h4 class="letra-branca">Voltar</h4></a>
	</div>
	<div class="espacamento-topo">
		<label for="nome">Nome: </label>
		<input id="nome" type="text">
	</div>
	<div>
		<label for="genero">Gênero: </label>
		<select id="genero">
			<option value="Masculino">Masculino</option>
			<option value="Feminino">Feminino</option>
			<option value="Outro">Outro</option>
		</select>
	</div>
	<div>
		<label for="id-genero">Identidade de Gênero: </label>
		<select id="id-genero">
			<option value="Cisgênero">Cisgênero</option>
			<option value="Trans (Não-Operado)">Trans (Não-Operado)</option>
			<option value="Trans (Operado)">Trans (Operado)</option>
			<option value="Intersexo">Intersexo</option>
			<option value="Outro">Outro</option>
		</select>
	</div>
	<div>
		<label for="email">E-mail: </label>
		<input id="email" type="text">
	</div>
	<div>
		<label for="contato">Contato: </label>
		<input id="contato" type="text">
	</div>
	<div>
		<label for="senha">Senha: </label>
		<input id="senha" type="password">
	</div>
	<div>
		<label for="confirma-senha">Confirme a senha: </label>
		<input id="confirma-senha" type="password">
	</div>
	<div>
		<label for="tipo-usuario">O que você deseja ser: </label>
		<div id="tipo-usuario" class="letra-branca">
			<input value="acompanhante" type="radio" name="tipo-usuario" onclick="hide_price(false)" checked>Acompanhante
			<input value="cliente" type="radio" name="tipo-usuario" onclick="hide_price(true)">Cliente
		</div>
	</div>
	<div id="preco_div">
		<label for="preco">Preço: </label>
		<input id="preco" type="text" value="0.0">
	</div>
	<div>
		<label for="regiao">Região: </label>
		<select id="regiao">
		</select>
	</div>
	<div>
		<button class="botao" onclick="update_profile()">Enviar</button>
	</div>
</div>
</body>
</html>