<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="../js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../js/home.js"></script></head>
<body>
	<div class="menu">
		<a style="display:block" id="main-button" href="login.html"><div class="sem-padding float-left">
			<h2>GP</h2>
			<h5>Gabriel's Picker</h5>	
		</div></a>
		<div class="sem-padding float-right">
			<a><h4 class="letra-branca" onclick="my_profile()" id="my-profile">Meu Perfil</h4></a>
		</div>
		<div class="espacamento-topo espacamento-maior">
			<h4 class="letra-branca alinhar-texto-esquerda">Notificações:</h4>
			<p id="notif"></p>
		</div>
		<div class="espacamento-maior">
			<h4 class="letra-branca alinhar-texto-esquerda">Listagem:</h4>
			<a href="listagem.html"><button class="botao botao-maior">Ir para a página de listagem</button></a>
		</div>
		<div>
			<h4 class="letra-branca alinhar-texto-esquerda">Amigos:</h4>
			<p id="friends"></p>
		</div>
	</div>
</body>
</html>