<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>GP: Gabriel's Picker</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/login.js"></script></head>
<body>
	<div>
		<h1>GP</h1>
		<h4>Gabriel's Picker</h4>
	</div>
	<div class="menu">
		<div class="espacamento-maior">
			<h3>BEM-VINDO</h3>
		</div>
		<div>
			<label for="username">Username: </label>
			<input id="username" type="text">
		</div>
		<div>
			<label for="password">Password: </label>
			<input id="password" type="password">
		</div>
		<div class="espacamento-maior">
			<p>Não tem um login? <a href="cadastro.html">Cadastre-se</a></p>
		</div>
		<div>
			<button class="botao" onclick="login()">Login</button>
		</div>
	</div>
</body>
</html>