<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Menu de região</title>
	<link rel="stylesheet" type="text/css" href="../Styles/geral.css">
	<script src="../js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../js/region.js"></script>
</head>
<body>
	<div class="menu">
		<a style="display:block" id="main-button" href="login.html"><div class="sem-padding float-left">
			<h2>GP</h2>
			<h5>Gabriel's Picker</h5>
		</div></a>
		<div class="sem-padding float-right">
			<h4 class="letra-branca">Admin</h4>
		</div>
		<div class="espacamento-topo">
			<div>
				<form>
					<input type="text" maxlength="2" minlength="2" id="new-region-estado" style="width: 2em" placeholder="UF"/>
					<input type="text" id="new-region-regiao" placeholder="Região"/>
				</form>
			</div>
			<div>
				<button class="botao botao-medio" onclick="adicionar_regiao()" id="adicionarRegiao">Adicionar região</button>
			</div>
			<div id="div_regiao">
				<div class="espacamento-maior" id="region-list">
					<h4 class="letra-branca alinhar-texto-esquerda">Regiões:</h4>
				</div>
			</div>
			<div class="espacamento-maior">
				<a href="admin.html"><button class="botao">Voltar</button></a>
			</div>
		</div>
	</div>
</body>
</html>