* {
	color: black;
	font-family: 'Courier New', Courier, monospace
}

p {
	font-size: 12px !important;
}

a {
	color: blueviolet !important;
	text-decoration: none !important;
}

h1 {
	font-size: 100px !important;
	color: black !important;
	text-align: center;
	margin: 0px 0px 0px 0px !important;
}

h3 {
	font-size: 35px !important;
	color: white !important;
	text-align: center;
	margin: 0px 0px 0px 0px !important;
}

h4 {
	font-size: 20px !important;
	color: black !important;
	text-align: center;
	margin: 0px 0px 20px 0px !important;
}

.letra-branca {
	color: white !important;
}

div {
	padding-bottom: 7px;
	padding-top: 7px;
}

label {
	color: white;
}

p {
	color: white;
}

.menu {
	background-color: black;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.botao {
	border: 1px solid white;
	border-radius: 3px;
	background-color: black;
	color: white;
	width: 70px;
	height: 30px;
}

.botao:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.botao:active {
	background-color: darkgray;
}

.botao:focus {
	text-decoration: none !important;
	outline: none !important;
}

.espacamento-maior {
	margin-bottom: 50px !important;
}